html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
   color:white;
}

h1            { text-align: center; font-size: x-large; color: white !important;}
th, td        { vertical-align: top; text-align: right; }  
 #finaltable  * { color: black; }   

 #finaltable table { border-collapse:collapse; } 
 #finaltable table, td { border:1px solid white; } 
#finaltable:hover td { background-color: blue; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border: none;       }     /* Align input to the right  */
textarea     {  border-color: white;       }                        
table        {  border-color: white; }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }
body
{
 background: url('./back.jpg') #b0c4de;  /* blue */
 margin: 5px !important;
}

.footer{
 	clear: both;
    position: absolute;
    bottom: 10px;
}
